$breakpoints: (
  'small'  : 576px,
  'medium' : 768px,
  'large'  : 992px,
  'xl-large' : 1200px,
);

$body: #fff;
$body-odd: #fafafa;
$accent: #e0e0e0;

$primary: #1C98FF;

$body-text: rgba(3,27,78,.7);
$heading-text: #031b4e;