// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
 html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  body {
    background: $body;
    position: relative;
    overflow-x: hidden;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    color: $primary;
    text-decoration: none;
  }

  img {
    display: block;
    width: 100%;
  }