// -----------------------------------------------------------------------------
// Basic typography style for copy text
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

@font-face {
    font-family: 'Avenir Next';
    src:  url('../fonts/AvenirNext-Medium.woff2') format('woff2'),
          url('../fonts/AvenirNext-Medium.woff') format('woff'),
          url('../fonts/AvenirNext-Medium.ttf') format('truetype'),
  }

body {
    color: $body-text;
    line-height: 1.75;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Avenir Next', sans-serif;
}