#form-messages {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: $primary;
    font-family: $heading-text;
    font-size: 2em;
}

.contact {

    background: $body-odd;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .contact-form {
        fieldset {
            border: none;
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 25px 0 0 0;
        }

        label {
            font-size: .75em;
            margin-bottom: 5px;
            text-align: left;
            // color: rgba(3, 27, 78, 0.3);
        }

        input, textarea {
            appearance: none;
            width: 100%;
            padding: 15px;
            font-size: 1em;
            color: inherit;
            border: 1px solid $accent;
            border-radius: 8px;
            outline: none;
            transition: all .5s ease;
            margin: 0;
            

            &:focus {
                border-color: $primary;
            }

        }

        .company-input {
            

            @include respond-to(medium) {
                margin-right: 50px;
            }
        }

        textarea {
            min-height: 250px;
            margin-bottom: 25px;
            resize: none;
            font-size: 2em;
            padding: 25px;
            line-height: 1.5;
        }

        
    }

   
}