<section id="intro-page" class="intro">
    <div class="content-wrapper">
        <h1>Small Business Web Design</h1>
        <a href="#" class="nav-item">learn more about what we do<svg class="bounce" width="16" height="8" viewBox="0 0 16 9" xmlns="http://www.w3.org/2000/svg"><path d="M15.34.495L8.028 7.87.715.495" stroke="#1C98FF" stroke-width="1.5px" fill="none"></path></svg></a>
    </div>
    <div class="video-wrapper">
        <video class="intro-video" autoplay loop poster="{{root}}/assets/img/video-poster.JPG">
            <source src="{{root}}/assets/img/video.mp4" type="video/mp4">
        </video>
    </div>
</section>