<section id="work" class="work">
        <div class="helios">
            <div class="row">
                <div class="container">
                    <div class="grid">
                        <div class="col">
                            <div class="left">
                                <div class="image-wrapper">
                                    <a href="#">
                                        <img src="{{root}}assets/img/helios-imac.png" alt="">
                                    </a>
    
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="right">
                                <h1>Helios IPM</h1>
                                <p>Helios Intellectual Property is a law service technologies company that specializes in IP management.
                                    They came to us in need of a complete redesign of both their website and overall branding.
                                    As a new startup, Helios needed to stand out and convey new ideas to a more conventual audience.
                                    Taking into consideration the fact that it was a business to business (B2B) site, our solution
                                    included a more traditional highly functional design that conveyed a “new brighter way to
                                    manage IP operations."</p>
                                <div class="tags-wrapper">
                                    <p class="tags">design, development, content marketing</p>
                                    <a href="#">
                                        <button class="btn">Visit Site</button>
                                    </a>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row qoute">
                <div class="container">
                    <div class="qoute-content">
                        <h3 class="qoute-text">
                            “I’m astounded by the creativity and quality of isophex’s work.”
                        </h3>
                        <div class="person">
                            <div class="avatar-wrapper">
                                <img src="{{root}}assets/img/ralph.jpg" alt="">
                            </div>
                            <p class="avatar-title">Ralph Schroeder | CEO, Helios IPM</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="incline">
            <div class="row">
                <div class="container">
                    <div class="grid">
                        <div class="col">
                            <div class="left">
                                <h1>Incline Fitness</h1>
                                <p>Incline Fitness is a non for profit organization that builds mobile and web applications to help
                                    schools better manage presidential health data. They came to us in need of a website and
                                    business cards. The site serves as a business to consumer (B2C) site, converting leads into
                                    users of their apps. As a company who provides for educational institutions, it was important
                                    we take into consideration the sites ease of use and accessibility. Our solution included
                                    a modern, streamlined design that stayed true to their brand.</p>
                                <div class="tags-wrapper">
                                    <p class="tags">design, development, SEO, graphics</p>
                                    <a href="#">
                                        <button class="btn">Visit Site</button>
                                    </a>
                                </div>
    
                            </div>
                        </div>
                        <div class="col">
                            <div class="right">
                                <div class="image-wrapper">
                                    <a href="#">
                                        <img src="{{root}}assets/img/incline-iphone.png" alt="">
                                    </a>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row qoute">
                <div class="container">
                    <div class="qoute-content">
                        <h3 class="qoute-text">
                            “The collaboration we had was as good as the final product.”
                        </h3>
                        <div class="person">
                            <div class="avatar-wrapper">
                                <img src="{{root}}assets/img/thomas.jpg" alt="">
                            </div>
                            <p class="avatar-title">Thomas Maloney | COO, Incline Fitness</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="chinahub">
            <div class="row">
                <div class="container">
                    <div class="grid">
                        <div class="col">
                            <div class="left">
                                <div class="image-wrapper">
                                    <a href="#">
                                        <img src="{{root}}assets/img/chinafood-ipad.png" alt="">
                                    </a>
    
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="right">
                                <h1>China Food Hub</h1>
                                <p>The Billy Sims China Food Group is an organization providing quality milk powder from the US to China. In collaboration with Bartlett Interactive, we worked with China Food Group (CFG) to develop a website. CFG required a B2B site geared towards other businesses and investors. They needed a design that streamlined an informative experience. Utilizing a Content Management System (CMS) Wordpress to build off a template that reflected their brand and content structure aimed at investors.</p>
                                <div class="tags-wrapper">
                                    <p class="tags">design, development, graphics</p>
                                    <a href="#">
                                        <button class="btn">Visit Site</button>
                                    </a>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row qoute">
                <div class="container">
                    <div class="qoute-content">
                        <h3 class="qoute-text">
                            “I really enjoyed working with the isophex team and the final product came out great.”
                        </h3>
                        <div class="person">
                            <div class="avatar-wrapper">
                                <img src="{{root}}assets/img/harry.jpg" alt="">
                            </div>
                            <p class="avatar-title">Harry Bartlett | Principal, Bartlett Interactive</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </section>