<section id="intro" class="intro">
    <div class="content-wrapper">
        <h1 class="mission-text"><span class="type-here"></span>  <span id="typed"></span> Web Solutions</h1>
        <div id="typed-strings">
                <h1>Portfolio </h1>
                <h1>Blog </h1>
                <h1>E-commerce </h1>
                <h1>isophex </h1>
        </div>
        
        <a href="#about" class="nav-item">learn more about what we do<svg class="bounce" width="16" height="8" viewBox="0 0 16 9" xmlns="http://www.w3.org/2000/svg"><path d="M15.34.495L8.028 7.87.715.495" stroke="#1C98FF" stroke-width="1.5px" fill="none"></path></svg></a>
    </div>
    <div class="video-wrapper">
        <video class="intro-video" autoplay loop poster="{{root}}assets/img/video-poster.jpg">
            <source src="{{root}}assets/img/video.mp4" type="video/mp4">
        </video>
    </div>
</section>