<header class="site-header">
        <div class="header-left">
            <div class="icon-wrapper">
                <div class="information-icon">i</div>
            </div>
        </div>
        <div class="header-center">
            <div class="logo-wrapper">
                <img src="{{root}}assets/img/logo-no-text.svg" alt="logo">
            </div>
        </div>
        <div class="header-right">
            <div class="hamburger-wrapper">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
</header>